@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');

body {
    margin: 60px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}

nav ul, footer ul {
    font-family:'Montserrat', sans-serif, 'Helvetica';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

/* link */
a {
    text-decoration: none;
    color: #AB4967;
}
a:hover {
    color: #E0E0E0;
}

/*bold, italics, underline*/
b {
    font-family: "Courier New", serif;
    font-weight: lighter;
    color: #FFFFFF;
    background-color: #5E1F32;
  }

  i {
    font-family: "Courier New", Courier, monospace;
    color: #5E1F32;
  }

  u {
    font-family: "Courier New", Courier, monospace;
    color: #5E1F32;
  }

  /* headers */
h1 {
    font-size: 2.5em;
    color: #AB4967;
    font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 2em;
  color: #AB4967;
    font-family: 'Montserrat', sans-serif;
}
/* paragraph */
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    color: #534D41;
}
/* about image */
.about-crop {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float:left;
    margin: 10px;
}
.about {
display: inline;
  margin: 0 auto;
  margin-left: -25%; //centers the image
  height: 100%;
  width: auto;
}

/* photo grid */
* {box-sizing:border-box}

/* Slideshow container */
.photos {
  width: 400px;
}
.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

  /* footer */
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em; 
}
