<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="/css/splide-sea-green.min.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">home</a></li>
	        	<li><a href="/about">about</a></li>
        		<li><a href="/grid">photos</a></li>
    		</ul>
		</nav>
		<div class="container">
      {{ content }}
    		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:michelle.karman@mail.mcgill.ca?Subject=Hi%20Michelle!">email</a></li>
        		<li><a href="https://github.com/mkrmn" target="_blank">github</a></li>
			</ul>
		</footer>
	</body>
</html>
